#define IDR_3001                        103
#define IDR_3002                        104
#define IDR_3003                        105
#define IDR_3004                        106

IDR_3001                300     DISCARDABLE     "swedish.lng"
IDR_3002                300     DISCARDABLE     "english.lng"
IDR_3003                300     DISCARDABLE     "german.lng"
IDR_3004                300     DISCARDABLE     "danish.lng"

/////////////////////////////////////////////////////////////////////////////

